* {
  font-family: 'Kalam', cursive;
}

#Password-cracking {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
}

.Password-crackingtitle {
  font-size: 30px;
  flex-basis: 50%;
}

.Password-crackingtitle p {
  font-size: 20px;
}

.Password-crackingimg {
  flex-basis: 50%;
  margin: auto;
}

.Password-crackingimg img {
  width: 60%;
}

.Methods {
  text-align: center;
}

.Non-technical {
  text-align: center;
}

.Non-technical h3 {
  color: green;
}

.Technical {
  text-align: center;
}

.Technical h3 {
  color: red;
}

.border-bottom {
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.border-bottom h3 {
  text-align: center;
  font-size: 30px;
}

.border-bottom p {
  font-size: 20px;
}